{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
	<header class="p-3 text-bg-dark fixed-top shadow-lg">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="/" class="d-flex align-items-center mb-lg-0">
					<img class="me-2" height="32" role="img" aria-label="Bootstrap" src="{% static 'krasprokat-logo.svg' %}" alt="Logo">
				</a>

				<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					<li><a href="#" class="nav-link px-2 text-secondary">Главная</a></li>
					<li><a href="#" class="nav-link px-2 text-white">Инструмент</a></li>
					<li><a href="#" class="nav-link px-2 text-white">Условия проката</a></li>
					<li><a href="#" class="nav-link px-2 text-white">Ремонт</a></li>
					<li><a href="#" class="nav-link px-2 text-white">Спецтехника</a></li>
					<li><a href="#" class="nav-link px-2 text-white">Контакты</a></li>
				</ul>

				<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
					<input type="search" class="form-control form-control-dark" placeholder="Найти" aria-label="Search">
				</form>

				<div class="text-end">
					<button type="button" class="btn btn-warning">Поиск</button>
				</div>
			</div>
		</div>
	</header>

	<main class="container">
		{% block content %}{% endblock %}
	</main>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>