{% extends "main/base.html" %}
{% block title %}История аренды{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>История аренды</h2>
  {% if rentals %}
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Товар</th>
          <th>Магазин</th>
          <th>Дата начала</th>
          <th>Дата окончания</th>
          <th>Цена</th>
          <th>Статус</th>
        </tr>
      </thead>
      <tbody>
        {% for rental in rentals %}
        <tr>
          <td>{{ rental.item.name }}</td>
          <td>{{ rental.location.name }}</td>
          <td>{{ rental.rental_start_date }}</td>
          <td>{{ rental.rental_end_date }}</td>
          <td>{{ rental.total_price }} руб.</td>
          <td>{{ rental.is_active|yesno:"Активен,Завершен" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Нет заказов на аренду.</p>
  {% endif %}
  <a href="{% url 'customer_account' %}" class="btn btn-secondary mt-3">Назад к профилю</a>
</div>
{% endblock %}
