{% extends 'main/base.html' %}
{% block title %}Список клиентов{% endblock %}

{% block content %}
<h1 class="mt-4">Клиенты</h1>

<div class="d-flex justify-content-end mb-3">
  <a href="{% url 'add_customer' %}" class="btn btn-primary">Добавить клиента</a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Телефон</th>
      <th>Email</th>
      <th>Адрес</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
      <td>{{ customer.name }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.address }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
