{% extends "main/base.html" %}

{% block title %}Редактировать продавца{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>Редактировать продавца</h2>

  {% if messages %}
    <div class="alert alert-info">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="location" class="form-label">Выберите магазин</label>
      <select id="location" name="location_id" class="form-control">
          {% for location in locations %}
              <option value="{{ location.id }}">{{ location.name }}</option>
          {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
  </form>
</div>
{% endblock %}
