{% extends 'main/base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}

<p class="d-grid mb-1">
    <button class="btn btn-dark" onclick="toggleCollapse()">Адреса и телефоны пунктов проката</button>
</p>

<div class="collapse" id="collapseExample">
    <div class="card card-body mb-1" style="min-height: 200px; transition: height 0.3s ease;">
        <div class="row mt-2 mb-2" id="offices">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="address"><span>г. Красноярск, <br>ул. Телевизорная, 1/31</span></div>
                <div>
                    <a class="phone" href="tel:+73912809595" title="Пункт проката на Телевизорной">+7 391 280−95−95</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="address"><span>г. Красноярск, <br>ул. Калинина, 167</span></div>
                <div>
                    <a class="phone" href="tel:+79833648458" title="Пункт проката на Калинина">+7 983 364−84−58</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="address"><span>г. Красноярск, <br>ул. Брянская 2-я, 6д</span></div>
                <div>
                    <a class="phone" href="tel:+73912506545" title="Пункт проката на Брянской">+7 391 250−65−45</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="address"><span>г. Красноярск, <br>ул. Ключевская, 13</span></div>
                <div>
                    <a class="phone" href="tel:+73912592233" title="Пункт проката на Ключевской">+7 391 259−22−33</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="address"><span>г. Красноярск, <br>Енисейский тракт 10 километр, 2/1</span></div>
                <div>
                    <a class="phone" href="tel:+79135674594" title="Пункт проката в Солнечном">+7 913 567−45−94</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="address"><span>г. Красноярск, <br>ул. Металлургов, 2т</span></div>
                <div>
                    <a class="phone" href="tel:+79131960343" title="Пункт проката на Металлургов">+7 913 196−03−43</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myCarousel" class="my-4 carousel slide shadow-sm rounded" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Слайд 1" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Слайд 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Слайд 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Слайд 4"></button>
    </div>

    <div class="carousel-inner shadow-sm rounded">
        <div class="carousel-item active">
            <img src="{% static 'drel.png' %}" class="d-block w-100" alt="Изображение дрели">
            <div class="container">
                <div class="carousel-caption text-with-shadow">
                    <h1>Прокат инструментов</h1>
                    <p>Арендуйте профессиональные инструменты у нас.</p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{% static 'zavod.png' %}" class="d-block w-100" alt="Изображение завода">
            <div class="container">
                <div class="carousel-caption text-with-shadow">
                    <h1>Оборудование для стройки</h1>
                    <p>Надежное оборудование для любого проекта.</p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{% static 'stroitel.png' %}" class="d-block w-100" alt="Изображение строительного процесса">
            <div class="container">
                <div class="carousel-caption text-with-shadow">
                    <h1>Работа для профессионалов</h1>
                    <p>Все, что нужно для крупных стройпроектов.</p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{% static 'instruments.png' %}" class="d-block w-100" alt="Изображение инструментов">
            <div class="container">
                <div class="carousel-caption text-with-shadow">
                    <h1>Бесплатные консультации</h1>
                    <p>Поможем подобрать инструменты и оборудование.</p>
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
</div>

<div class="row mb-2">
    {% for news in news_items %}
        <div class="col-md-6">
            <div class="row g-0 border overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative rounded">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 {% if news.category == 'news' %}text-primary{% else %}text-success{% endif %}">{{ news.get_category_display }}</strong>
                    <h3 class="mb-0">{{ news.title }}</h3>
                    <div class="mb-1 text-muted">{{ news.date }}</div>
                    <p class="card-text mb-auto">{{ news.description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
