{% extends 'main/base.html' %}
{% block title %}Список инвентаря{% endblock %}

{% block content %}
<h1 class="mt-4">Инвентарь</h1>

<div class="d-flex justify-content-end mb-3">
  {% if user.is_authenticated and user.profile.role == 'admin' %}
    <a href="{% url 'add_inventory_item' %}" class="btn btn-primary">Добавить инструмент</a>
  {% endif %}
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th>Категория</th>
      <th>Цена за день</th>
      <th>В наличии / Всего</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.price_per_day }} ₽</td>
      <td>{{ item.available_quantity }} / {{ item.total_quantity }}</td>
      <td>
        <a href="{% url 'inventory_detail' item.pk %}" class="btn btn-sm btn-info">Просмотр</a>
        {% if user.is_staff %}
        <a href="{% url 'update_inventory_stock' item.pk %}" class="btn btn-sm btn-warning">Обновить</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
