{% extends 'main/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Регистрация</h2>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                Пожалуйста, исправьте ошибки в форме.
            </div>
        {% endif %}
        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
                <div class="text-danger">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {% if form.password1.errors %}
                <div class="text-danger">{{ form.password1.errors }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            {% if form.password2.errors %}
                <div class="text-danger">{{ form.password2.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>
{% endblock %}
