{% extends 'main/base.html' %}
{% block title %}Список заказов{% endblock %}

{% block content %}
<h1 class="mt-4">Заказы</h1>

<div class="d-flex justify-content-end mb-3">
  <a href="{% url 'create_rental_order' %}" class="btn btn-primary">Создать заказ</a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Товар</th>
      <th>Клиент</th>
      <th>Дата начала</th>
      <th>Дата окончания</th>
      <th>Цена</th>
      <th>Статус</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{ order.item.name }}</td>
      <td>{{ order.customer.name }}</td>
      <td>{{ order.rental_start_date }}</td>
      <td>{{ order.rental_end_date }}</td>
      <td>{{ order.total_price }} ₽</td>
      <td>{{ order.is_active|yesno:"Активен,Завершен" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
