{% extends "main/base.html" %}

{% block title %}Условия проката{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Условия проката инструмента</h2>

    <h3>Прокат инструмента для физических лиц:</h3>
    <ol>
        <li>Если вы решили воспользоваться услугами проката инструмента, вам необходимо:
            <ul>
                <li>Позвонить нам или посмотреть на сайте в разделе "инструменты", чтобы уточнить наличие нужного инструмента.</li>
                <li>Приехать к нам в офис и оформить договор (при себе иметь паспорт с пропиской в г. Красноярске).</li>
                <li>Внести авансовый платеж* за пользование инструментом, вносится даже при наличии прописки в Красноярске.</li>
                <li>Получить инструмент у нас в офисе.</li>
            </ul>
        </li>
        <li>Возможна аренда инструмента без документов — авансовый платеж 100% от стоимости инструмента.</li>
        <li>При заключении договора без паспорта (по водительскому удостоверению, загранпаспорту, паспорту иностранного гражданина и т.д.) — авансовый платеж 50% от полной стоимости инструмента.</li>
        <li>При отсутствии прописки в г. Красноярске — авансовый платеж 50% от полной стоимости инструмента.</li>
        <li>* Денежные средства, внесенные в счет оплаты услуг до их получения или выполнения.</li>
        <li>Возврат инструмента необходимо произвести в оговоренные договором сроки. При возврате инструмент проверяется на работоспособность и отсутствие внешних механических повреждений.</li>
        <li>Арендатор не несет ответственности за неисправности, связанные с естественным износом инструмента.</li>
        <li>Весь инструмент принадлежит арендодателю. Внесение авансового платежа не означает передачу инструмента в постоянное пользование.</li>
    </ol>

    <h3>Прокат инструмента для юридических лиц:</h3>
    <ol>
        <li>Позвонить нам и уточнить наличие нужного инструмента.</li>
        <li>Заключить договор аренды (необходимо предоставить реквизиты организации).</li>
        <li>Получить инструмент (требуется доверенность на получателя).</li>
        <li>Оплата производится после возврата инструмента.</li>
    </ol>
</div>
{% endblock %}
